/Users/krishna/Code_Repo/python-repo/chromedriver
/Kubernetes/*
/git_github/*
/.vscode/*
B*
C*
User/
G*
logs/*
L*
mac*
#/aws-repo/1*
#/aws-repo/B*
#/aws-repo/C*
#/aws-repo/GP*
#/aws-repo/Lo*
#/aws-repo/Us*
aws-repo/logs/*
#/aws-repo/mac*
plugins/*
1.2*
/machineid
Preferences
__pycache__/
fabfile.cpython-36.pyc
storage.json
python-repo/__pycache__/socket.cpython-36.pyc
python-repo/ds/
aws-repo/Temp.py
